<form #form="ngForm" (ngSubmit)="sendRequest(form)">
    <label><strong>Email : </strong></label><input ngModel name="username" type="text" placeholder="Your email" id="username"><br><br>
    <label><strong>Password : </strong></label><input ngModel name="password" type="password" placeholder="Enter your password" id="password"><br><br>
    <label><strong>Password confirmation : </strong></label><input ngModel name="confirm" type="password" placeholder="Re-enter your password" id="confirmation"><br><br>
    <button type="submit">Submit</button>
</form>
<br><br>
<label [style.color]="result? 'green' : 'red'"><strong>{{ text }}</strong></label>
