<div>
    <h2>Lecture 17</h2>
    <h3>Course 1</h3>
    <div *ngFor="let item of items">

    </div>
    <div *ngIf="visibility1; then trueBlock1 else falseBlock1"></div>
    <ng-template #falseBlock1>
        <button class="btn btn-success" (click)="showItems1()">Show content</button>
    </ng-template>

    <ng-template #trueBlock1>
        <button class="btn btn-danger" (click)="hideItems1()">Hide content</button>
        <ul *ngFor="let item of course1" style="list-style-type: disc">
            <li><strong>{{ item }}</strong></li>
        </ul>
    </ng-template>

    <h3>Course 2</h3>
    <div *ngIf="visibility2; then trueBlock2 else falseBlock2"></div>
    <ng-template #falseBlock2>
        <button class="btn btn-success" (click)="showItems2()">Show content</button>
    </ng-template>

    <ng-template #trueBlock2>
        <button class="btn btn-danger" (click)="hideItems2()">Hide content</button>
        <ul *ngFor="let item of course2" style="list-style-type: disc">
            <li><strong>{{ item }}</strong></li>
        </ul>
    </ng-template>
</div>